<h1>LongestWord#game</h1>

<p>******** Welcome to the longest word-game !********"</p>
<p>Here is your grid :</p>
<p> <%= @grid_generate %> </p>
<p>****************</p>

<p>What's your best shot ?</p>

<form action="/score" method="post">
  <input type="hidden" value="<%= @grid_generate %>" name="grid_generate">
  <input type="hidden" value="<%= @start_time %>" name="start_time">

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="so">So ?</label>
  <input type="text" id="question" name="attempt" placeholder="HaHAHAHAHaHHahAHAH try this !">

  <!-- <input type='time' value='now' name="end_time"> -->
  <input type="submit" value="let's try!">
</form>




<!-- puts "Here is your grid :"
grid = generate_grid(9)
puts grid.join(" ")
puts "*****************************************************"
 -->
<!--
 puts "What's your best shot ?"
start_time = Time.now
attempt = gets.chomp
end_time = Time.now -->
