<h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>
<p> your time is <%= @time %> </p>
<p> your attempt in french is : <%= @translation %> </p>
<p>So your score are : <%= @score %></p>
<p><%= @message %> </p>


